@font-face {
    font-family: 'FiraCode'; 
    src: url('../images/fonts/FiraCode-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face {
    font-family: 'Ubuntu'; 
    src: url('../images/fonts/Ubuntu-R.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

body, html
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body
{
    font-family: 'Ubuntu';
    color: azure;
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
}


#clock-div-1
{
    margin-top: 50px;
    margin-left: 20px;
    background-color: rgba(20, 37, 55, 0.09);
    padding: 20px;
    border-radius: 35px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#clock-div-2
{
    background-color: rgb(46, 56, 66);
    padding: 10px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    height: fit-content;
    width: fit-content;
}

#clock-h1
{
    color: rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 40px;
    padding: 5px;
    border-radius: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(6, 20, 95);
}

#clock-greetings
{
    font-size: 30px;
    margin-bottom: 20px;
}

#clock-date-div
{
    display: flex;
    flex-direction: row;
}

#clock-div-3
{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/rocks_galaxy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 25px;
    border-radius: 15px;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 120px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    /*box-shadow: 0 0 20px rgba(1, 182, 206, 0.616)*/
}

#clock-time-fmt-div
{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

#clock-date-fmt-div
{
    background-color: rgba(6, 6, 6, 0.485);
    width: fit-content;
    margin: 0px;
    padding: 0px;
    margin-left: 25%;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 15px;
    padding: 5px;

}

#clock-day, #clock-month, #clock-year
{
    font-family: 'FiraCode';
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 0px 17px rgb(16, 16, 16);
    color: rgb(64, 199, 225);
}

#clock-hours, #clock-minutes, #clock-seconds
{
    font-family: 'FiraCode';
    background-color: rgba(0, 0, 0, 0.709);
    margin-left: 5px;
    text-shadow: 0px 0px 10px rgb(7, 136, 165);
    color: rgb(81, 238, 255);
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 112, 137);
    border-radius: 15px;
    padding: 5px;
}
